*.class
*.xml
*.iml
*.cmake
*.bin
*.name
CIS 163/Project 1/out
CIS 163/Project 2/out
CIS 163/Project 3/out
CIS 163/Project 1/.idea
CIS 163/Project 2/.idea
CIS 163/Project 3/.idea
CIS 163/Project 3/.classpath
CIS 241/Practice
CIS 241/HW #1/.idea
CIS 241/HW #1/cmake-build
CIS 241/HW #1/cmake-build-debug
CIS 241/HW #1/Practice
CIS 241/Testing
CIS 241/Project #1/.idea
CIS 241/Project #1/cmake-build
CIS 241/Project #1/cmake-build-debug
CIS 241/Project #1/Practice
CIS 263/Hello World/.idea
CIS 263/Hello World/cmake-build-debug
CIS 263/HW #1/.idea
CIS 263/HW #1/cmake-build-debug
CIS 263/HW #2/.idea
CIS 263/HW #2/cmake-build-debug

CIS 163/Project 3/.project

