*.class
*.xml
*.iml
CIS 163/Project 1/out
CIS 163/Project 2/out
CIS 163/Project 3/out
CIS 163/Project 1/.idea
CIS 163/Project 2/.idea
CIS 163/Project 3/.idea
CIS 163/Project 3/.classpath

CIS 163/Project 3/.project
