/* Style sheet created by: Kyle Flynn, 1/30/2019 */

/* Style for body specifies a background color */
body {
  background-color: #FFFF99;
}

/* Style for container cents the page and sets the element width */
#container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Style for header specifies top margin, background color, rounded corners, and center aligns content */
header {
  margin-top: 0.2em;
  background-color: #FFFFFF;
  border-radius: 0.5em;
  text-align: center;
}

/* Style for nav specifies text properties */
nav {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

/* Style specifies padding amd margins for unordered list. */
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* Style for nav li specifies the background color, rounded corners, removes bullet style, and applies margins and padding for list items within the navigation */
nav li {
  background-color: #009933;
  border-radius: 0.2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}

/* Style changes navigation link text color to white and removes the underline */
nav li a {
  color: #ffffff;
  text-decoration: none;
}

/* Style for main specifies a block display, text properties, margins, padding, rounded corners, and border properties */
main {
  display: block;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 1em;
  background-color: #FFFFFF;
  border-top: solid 0.2em #009933;
  border-bottom: solid 0.2em #009933;
}

/* Styles displays for the mobile class */
.mobile {
  display: inline;
}

/* Style hides the desktop class */
.desktop {
  display: none;
}

/* Style hides the tablet class */
.tablet {
  display: none;
}

/* Style hides the equip class */
.equip {
  display: none;
}

/* Style for footer specifies font size, text alignment, and top margin */
footer {
  font-size: 0.70em;
  text-align: center;
  margin-top: 2em;
}

.equip {
  float: left;
  padding-right: 20px;
}

ul {
  margin-bottom: 50px;
  list-style-position: inside;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 20px;
}

/* Style to create a fluid image. */
img {
  max-width: 100%;
}