/* Kyle Flynn CIS 238 Project */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
  -= NOTE ABOUT Z-INDEXES =-
  0: #main
  1: #banner-text
  2: #mobile-overlay, #mobile-menu
  3: #mobile-menu nav
 */

/* Universal selector that makes sure ALL elements implement the border-box model. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style removes default margins on the body. */
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* All images fit their width of their container by default. */
img {
  width: 100%;
  height: auto;
}

/* Font sizes for h1 tags */
h1 {
  font-size: 6vw;
}

h2 {
  font-size: 5vw;
}

h3 {
  font-size: 4vw;
  font-weight: normal;
}

/* Basic link styling for mobile. */
a,
a:link,
a:visited {
  color: #F89808;
  text-decoration: none;
}

a:active {
  color: #68A3D1;
}

/* Overlay for the body. Height should be 100vh exactly. */
#overlay {
  height: 100vh;
  z-index: 2;
}

/* Overlay for the mobile menu toggle. */
#mobile-overlay {
  height: 7.5vh;
  z-index: 2;
}

/* Both overlays share these same properties. */
#overlay,
#mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0s width, 0.3s ease-in opacity;
}

/* The container spans at least 100vh, and has a defined background color. */
#container {
  background-color: #ededed;
  min-height: 100vh; /* Generally, each mobile page should be at least 100vh. */
  height: fit-content; /* However, if we go past that ensure we fit the content height. */
}

/* The mobile menu has a box shadow, background color, and fixed position. */
#mobile-menu {
  background-color: #F89808;
  color: #FFFFFF;
  position: fixed;
  width: 100vw;
  font-size: 1.3em;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.8rem rgba(0, 0, 0, 0.35);
  z-index: 2;
}

/* The actual mobile menu nav is also fixed, and has different background colors and text colors. */
#mobile-menu nav {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  width: 75vw;
  height: 100vh;
  transition: 0.3s ease-in transform;
  transform: translateX(-80vw);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

/* Remove the text decoration of unordered list items. */
#mobile-menu nav ul {
  list-style-type: none;
}

/* This is the header of the mobile menu drawer when it appears. */
#mobile-menu-header {
  background-color: #F89808;
  color: #FFFFFF;
  height: fit-content !important;
}

#mobile-menu-toggle a,
#mobile-menu-toggle a:link,
#mobile-menu-toggle a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

/* Defines padding for all 'list' items in the mobile menu. */
#mobile-menu-toggle,
#mobile-menu-header,
#mobile-menu nav ul li {
  width: 100%;
  height: 7.5vh;
  padding: 0.5em 0.75em 0.5em 0.75em;
}

/* Every list item has a faded border to separate list items. */
#mobile-menu nav ul li {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.07);
}

/* All mobile menu links have no underline and are a certain color. */
#mobile-menu nav ul li a,
#mobile-menu nav ul li a:link,
#mobile-menu nav ul li a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.mobile-menu-submenu {
  height: fit-content !important;
}

#mobile-menu nav ul li.mobile-menu-submenu {
  padding-top: 0;
  padding-bottom: 0;
}

/* This style gets rid of the top border on the sub-menu's first child. */
#mobile-menu nav ul li.mobile-menu-submenu ul li:first-child {
  border-top: none;
}

/* On mobile menu links, the color changes to a nice material design blue. */
#mobile-menu nav ul li a:active {
  color: #68A3D1;
}

#mobile-menu-footer {
  font-size: 0.75em;
  text-align: center;
}

#mobile-menu-footer > a,
#mobile-menu-footer > a:link,
#mobile-menu-footer > a:visited {
  color: #F89808 !important; /* Need this to override black color from li styles above. */
}

#mobile-menu-logo {
  display: block;
  margin-top: 1vh;
  margin-left: auto;
  margin-right: auto;
}

#mobile-menu-logo > img {
  height: 10vh;
  width: auto;
}

/* This is the top banner on each page. */
#banner {
  width: 100vw;
  height: 25vh;
  overflow: hidden;
  position: relative;
  top: 7.5vh; /* Height of the mobile-menu */
}

/* To make the overlay text appear more readable, blur the image slightly. */
#banner img {
  filter: blur(2px);
}

/* Banner text is positioned absolutely over the banner. Same width and height. */
#banner-text {
  position: absolute;
  width: 100vw;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
  line-height: 8vh;
  font-size: 2.5em; /* Make the text slightly larger */
  padding-top: 0.5em; /* Doesn't center the text, but looks much better. */
}

/* This is the MAIN content of the webpage, not the container. */
#main {
  position: relative;
  font-size: 1.0em;
  margin-top: 7.5vh; /* Height of the mobile-menu */
  z-index: 0;
  width: 100%;
  height: auto;
  padding: 0.5em 0.25em 0 0.5em;
}

/* For now at least, headers will always be centered on mobile. */
#main h2, #main h3 {
  text-align: center;
}

/* All first-level divs in the page should also have a bottom margin. */
#main > div,
#main > div > p,
#main > section,
#main > article > p {
  margin-bottom: 2vh;
}

/* Add margins to all ul */
#main ul {
  margin-left: 5vw;
}

/* START STYLES FOR TABLES */
table {
  width: 100%;
  margin-bottom: 4vh;
  border: 0.1em solid #bb7101;
  border-collapse: collapse;
  font-size: 0.75em; /* Smaller text to fit smaller displays */
}

th, td {
  position: relative;
  border: 0.1em solid #bb7101;
  text-align: center;
  height: 5vh;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 0.375em;
  background-color: #F89808;
  color: #FFFFFF;
}

.supported, .not-supported, .kinda-supported {
  width: 4vh;
  height: 4vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
}

.supported {
  background-color: #238f23;
}

.kinda-supported {
  background-color: #e3e300;
}

.not-supported {
  background-color: #e10000;
}

/* START FORM CLASSES */
/* Fieldset styles */
fieldset {
  padding: 0.5em 0.75em;
  margin-bottom: 2vh;
  border: 2px solid #F89808;
}

/* Legend styles, mostly padding */
legend {
  padding: 0 0.5em 0 0.5em;
}

/* Input styles */
label, input[type="text"], input[type="email"], select {
  display: block;
  width: 100%;
  margin-bottom: 1vh;
  padding: 0.3em;
}

/* Inputs that are required */
input[required], select[required] {
  border: 1px solid #ff434b;
}

button[type="submit"] {
  display: block;
  width: 60vw;
  height: 4vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #F89808;
  color: #FFFFFF;
  border: 0;
  margin-top: 1vh;
}

textarea {
  width: 100%;
}

.required {
  color: #ff434b;
}

/* START UTILITY CLASSES */
/* Class for making medium-sized cards. */
.card-md {
  width: 100%;
  height: 50vh;
  box-shadow: 0 0.6rem 1.1rem rgba(0, 0, 0, 0.35);
  margin-top: 2.5vh;
}

/* Class for making small-sized cards. */
.card-sm {
  width: 100%;
  height: 35vh;
  box-shadow: 0 0.6rem 1.1rem rgba(0, 0, 0, 0.35);
  margin-top: 2.5vh;
}

/* Default card headers will have a defined height and 0 margins. */
.card-header {
  width: 100%;
  height: 25%;
  padding-top: 2.5vh;
  text-align: center;
}

/* Cards with an icon in their header need to be offset properly. */
.card-icon-header {
  width: 100%;
  height: 25%;
  margin-top: 10vh;
}

/* Card content is defined. */
.card-content {
  width: 100%;
  height: 75%;
  padding: 1vh 1.5vw;
}

/* Card content paragraph spacing is defined */
.card-content p {
  margin-top: 2vh;
}

/* Card icons have a defined border, color, and position. */
.card-icon {
  border: 0.1em solid #bb7101;
  border-radius: 7.5vh;
  position: relative;
  top: -7.5vh;
  width: 15vh;
  height: 15vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #ededed;
}

.card-icon img {
  padding: 1vh;
}

/* Divider class */
.divider {
  width: 100%;
  height: 0.05em;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

/* Class for faq items */
.faq-q {
  font-weight: bold;
  font-size: 1.5em;
}

.faq-a {
  margin-top: 1vh;
}

/* Class for primary card theme. */
.primary-card {
  background-color: #ffad51;
  color: #FFFFFF;
}

/* Class for secondary card theme. */
.secondary-card {
  background-color: #ededed;
  color: #000000;
}

/* Download Button Classes */
.dl-btn-container {
  position: relative;
  width: calc(100vw - 1.5em);
  height: 8vh;
  margin: 2.5vh auto 2.5vh auto;
}

.dl-btn {
  position: absolute;
  width: calc(100vw - 1.5em);
  height: 8vh;
  background-color: #F89808;
  color: #FFFFFF !important; /* Needs !important to override default link color. */
}

.dl-btn-title {
  position: absolute;
  width: 100%;
  height: 2vh;
  top: 0.75vh;
  text-align: center;
  font-size: 3vh;
}

.dl-btn-subtitle {
  position: absolute;
  width: 100%;
  height: 2vh;
  top: 4.5vh;
  text-align: center;
  font-size: 3.75vw;
  color: #eaeaea;
}

/* Class for making images into neat icons. */
.icon {
  border: 0.1em solid #bb7101;
}

/* Class that determines what active link styles are. */
.active {
  color: #F89808 !important; /* Needs !important */
}

/* Class that shows content for mobile. */
.mobile {
  display: block;
}

/* Class that hides content for desktops. */
.desktop {
  display: none;
}