/* Kyle Flynn CIS 238 Project */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
  -= NOTE ABOUT Z-INDEXES =-
  0: #main
  1: #banner-text
  2: #mobile-overlay, #mobile-menu
  3: #mobile-menu nav
 */

/* Universal selector that makes sure ALL elements implement the border-box model. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style removes default margins on the body. */
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* All images fit their width of their container by default. */
img {
  width: 100%;
  height: auto;
}

/* Font sizes for h1 tags */
h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
}

/* Basic link styling for mobile. */
a,
a:link,
a:visited {
  color: #F89808;
  text-decoration: none;
}

a:active {
  color: #68A3D1;
}

/* Overlay for the body. Height should be 100vh exactly. */
#overlay {
  height: 100vh;
  z-index: 2;
}

/* Overlay for the mobile menu toggle. */
#mobile-overlay {
  height: 2.75em;
  z-index: 2;
}

/* Both overlays share these same properties. */
#overlay,
#mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0s width, 0.3s ease-in opacity;
}

/* The container spans at least 100vh, and has a defined background color. */
#container {
  background-color: #ededed;
  min-height: 100vh; /* Generally, each mobile page should be at least 100vh. */
  height: fit-content; /* However, if we go past that ensure we fit the content height. */
}

/* The mobile menu has a box shadow, background color, and fixed position. */
#mobile-menu {
  background-color: #F89808;
  color: #FFFFFF;
  position: fixed;
  width: 100vw;
  font-size: 2.5em;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.8rem rgba(0, 0, 0, 0.35);
  z-index: 2;
}

/* The actual mobile menu nav is also fixed, and has different background colors and text colors. */
#mobile-menu nav {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  width: 60vw;
  height: 100vh;
  transition: 0.3s ease-in transform;
  transform: translateX(-80vw);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

/* Remove the text decoration of unordered list items. */
#mobile-menu nav ul {
  list-style-type: none;
}

/* This is the header of the mobile menu drawer when it appears. */
#mobile-menu-header {
  background-color: #F89808;
  color: #FFFFFF;
}

#mobile-menu-toggle a,
#mobile-menu-toggle a:link,
#mobile-menu-toggle a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

/* Defines padding for all 'list' items in the mobile menu. */
#mobile-menu-toggle,
#mobile-menu-header,
#mobile-menu nav ul li {
  width: 100%;
  padding: 0.75em 1em 0.75em 1em;
}

/* Every list item has a faded border to separate list items. */
#mobile-menu nav ul li {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.07);
}

/* All mobile menu links have no underline and are a certain color. */
#mobile-menu nav ul li a,
#mobile-menu nav ul li a:link,
#mobile-menu nav ul li a:visited {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

#mobile-menu nav ul li a:active {
  color: #68A3D1;
}

#banner {
  width: 100vw;
  height: 20vh;
  overflow: hidden;
  font-size: 2.5em;
  position: relative;
  top: 2.75em;
}

#banner img {
  filter: blur(2px);
}

#banner-text {
  position: absolute;
  width: 100vw;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
  line-height: 8vh;
}

#main {
  position: relative;
  font-size: 2.5em;
  margin-top: 2.75em;
  z-index: 0;
  width: 100%;
  height: auto;
  padding: 0.75em 0.5em 0 0.75em;
}

#main h2 {
  text-align: center;
}

#main div {
  margin-bottom: 2vh;
}

/* Class for making medium-sized cards */
.card-md {
  width: 100%;
  height: 40vh;
  background-color: #ffe1b4;
}

.card-header {
  width: 100%;
  height: 10vh;
  padding-top: 1vh;
  margin: 0 !important;
}

.card-content {
  width: 100%;
  height: 30vh;
  padding: 0.5vh 1vw;
  margin: 0 !important;
}


.card-icon {
  border: 0.1em solid #F89808;
  border-radius: 4vh;
}

.img-placeholder {
  width: 8vh;
  height: 8vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0 !important;
}

/* Class for making images into neat icons. */
.icon {
  border: 0.1em solid #F89808;
}

/* Class that determines what active link styles are. */
.active {
  color: #F89808 !important; /* Needs !important */
}

/* Class that shows content for mobile. */
.mobile {
  display: block;
}

/* Class that hides content for desktops. */
.desktop {
  display: none;
}