/* Kyle Flynn CIS 238 Project */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Universal selector that makes sure ALL elements implements the border-box model. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Style removes default margins on the body. */
body {
  font-family: 'Roboto', sans-serif;
  width: auto;
  height: auto;
  overflow-x: hidden;
}

#container {
  background-color: #ededed;
  width: 100vw;
  min-height: 100vh;
}

#mobile-menu {
  background-color: #F89808;
  color: #FFFFFF;
  position: fixed;
  width: 100vw;
  font-size: 2.5em;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.1), 0 0.4rem 0.8rem rgba(0, 0, 0, 0.35);
}

#mobile-menu nav {
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  color: #000000;
  width: 60vw;
  height: 100vh;
  transition: 0.3s ease-in-out;
  transform: translateX(-80vw);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
}

#mobile-menu nav ul {
  list-style-type: none;
}

#mobile-menu-toggle, #mobile-menu nav ul li {
  width: 100%;
  padding: 0.75em 1em 0.75em 1em;
}

#mobile-menu nav ul li {
  border-top: 0.1em solid #bd861a;
}

#mobile-menu nav ul li a,
#mobile-menu nav ul li:link,
#mobile-menu nav ul li:visited {
  text-decoration: none;
  color: #FFFFFF;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}