<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.gvsu.cis357.geocalculatorapp">

    <application
        android:name=".GeoCalculatorApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC_uyJQ3EjeRZhq_737V99ZhMv_jbwqj64" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Settings" />
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LocationLookupActivity"
            android:label="@string/title_activity_location_lookup"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".webservice.WeatherService"
            android:exported="false"></service>
    </application>

</manifest>